# -----------------------------------------------------------------
# general name
# -----------------------------------------------------------------

shared-experiment-name                   = github

# -----------------------------------------------------------------
# flow settings
# -----------------------------------------------------------------

shared-caffe-executables                 = <path to caffe with reverselayer> /work/cv3/zargaran/caffe/caffe-reverselayer-2016_10_19-16.04

shared-googleNet-pretrained              = <path to a pretrained imagenet googlenet from http://dl.caffe.berkeleyvision.org/bvlc_googlenet.caffemodel> /work/cv2/koller/features/danishSLdict/caffe-hand.20150430/data/bvlc_googlenet.caffemodel

# -----------------------------------------------------------------
# data set resources
# -----------------------------------------------------------------

shared-train-imageFolder                 = /work/cv3/koller/corpora/sign-privacy/blur_face/train 
shared-val-imageFolder                   = /work/cv3/koller/corpora/sign-privacy/blur_face/dev
shared-test-imageFolder                  = /work/cv3/koller/corpora/sign-privacy/blur_face/test

shared-orig-corpus-file                  = /work/cv3/koller/corpora/sign-privacy/blur_all/phoenix2014SI5.train.corpus
shared-orig-val-corpus-file              = /work/cv3/koller/corpora/sign-privacy/blur_all/phoenix2014SI5.dev.corpus
shared-orig-test-corpus-file             = /work/cv3/koller/corpora/sign-privacy/blur_all/phoenix2014SI5.test.corpus
shared-corpusname                        = phoenix2014SI5

shared-leveldb-folder-noshuffle          = /work/cv3/koller/corpora/sign-privacy/blur_face/data/leveldbs/leveldb
shared-leveldb-folder-shuffle            = /work/cv3/koller/corpora/sign-privacy/blur_face/data/leveldbs/leveldb_shuffle

shared-audio-dir                         = /u/signlanguage/phoenix/video/divx2pass/all-years
shared-video-dir                         = $(shared-audio-dir)

shared-validateDNNLevelDB                = ../it1.val.framelabels.short
shared-validateDNN-numEntries            = 16460

shared-mean-train-file                   = /work/cv3/koller/corpora/sign-privacy/blur_face/data/leveldbs/leveldb/train.mean
shared-mean-validate-file                = /work/cv3/koller/corpora/sign-privacy/blur_face/data/leveldbs/leveldb/train.mean

shared-lexicon-source-file               = /work/cv3/koller/corpora/sign-privacy/baseline/data/1state.train.lex

shared-lm-file                           = /u/koller/work/annotation/lm/all.multisigner-eaf.merged-translation/RWTH-PHOENIX-v02-split01-CLEANED.compound.Multisigner.gapmodels.translationTier.matchTranslation-gloss.train-M1.sri.lm.gz

# -----------------------------------------------------------------
# re-alignment settings
# -----------------------------------------------------------------

shared-epochs-per-realign                = 4
shared-feedforward-realigns              = 4
shared-feedforward-scrambled-realigns    = 4
shared-blstm-realigns                    = 4

# -----------------------------------------------------------------
# feature settings related to the dumped posteriors
# -----------------------------------------------------------------

shared-feature-val-cache-base-0          = data/it$(it).03.posteriors.dev/it$(it).0.train.cache.0000
shared-feature-val-cache-base-1          = data/it$(it).03.posteriors.dev/it$(it).1.train.cache.0000

shared-feature-train-cache-base-0        = data/it$(it).03.posteriors/it$(it).0.train.cache.0000
shared-feature-train-cache-base-1        = data/it$(it).03.posteriors/it$(it).1.train.cache.0000


# -----------------------------------------------------------------
# nn / hmm / rasr settings
# -----------------------------------------------------------------

shared-minibatch-size-train           = 32
shared-blstm-minibatch-size-train     = 32
shared-minibatch-size-val             = 16
shared-blstm-minibatch-size-val       = 32
shared-lexicon-file-0                 = data/it0.stream-0.lex

shared-standard-learningrate          = 0.01
shared-blstm-learningrate             = 0.001

shared-states-0                       = 3
shared-repetitions-0                  = 2

shared-hybrid-featurescorer-mapping-0 = data/hybrid-featurescorer.mapping-mix2dnn-0.txt

shared-priori-scale-0                 = 0.3

shared-mixture-file-0                 = data/it$(it).priors-0.mix

shared-train-corpus                   = data/it0.train.corpus
shared-val-corpus                     = data/it0.val.corpus

*.allophones.add-from-lexicon         = true
*.allophones.add-all                  = false

shared-TDP-loop			              = 20 #0.5
shared-TDP-forward		              = 0
shared-TDP-skip			              = infinity
shared-sil-exit 		              = 3 #1.5
shared-sil-forward 		              = 3
shared-sil-loop 		              = 150

*.allophones.store-to-file            = data/$(step).$(description).allophones.$(SGE_TASK_ID)

log-resolved-resources                = true


