include shared.config

step                            = 09.alignment
description                     = orig

results-dir                     = data
log-dir                         = log

# -----------------------------------------------------------------
[*.corpus]
#corpus-root                     = $(shared-corpus-dir)
file                            = $(shared-corpus-file-base) #.train.corpus.$(SGE_TASK_ID)
audio-dir                       = $(shared-audio-dir)
video-dir                       = $(shared-video-dir)
warn-about-unexpected-elements  = no
capitalize-transcriptions       = no

# -----------------------------------------------------------------
[*.feature-extraction]
*.network-file-path             = $(shared-signal-analysis)
file                            = config/alignment.cache.flow


[*.lexicon]
file                            = $(shared-lexicon-file-0)
normalize-pronunciation         = false
[*.allophones] 
add-from-lexicon                = true
add-all                         = false

[*.acoustic-model.hmm]
states-per-phone                = $(shared-states-0)
state-repetitions               = $(shared-repetitions-0)
across-word-model               = no
early-recombination             = no


[*.acoustic-model.tdp]
*.loop                          = 3.0
*.forward                       = 0.0
*.skip                          = 7.0
*.exit                          = 12
entry-m1.loop                   = infinity
entry-m2.loop                   = infinity
silence.loop                    = 0.0
silence.forward                 = 2.0
silence.skip                    = infinity
silence.exit                    = 0.0
scale                           = 1.0

[*.mixture-set]
feature-scorer-type             = hybrid-pass-through #diagonal-maximum
scale                           = 1.0
mapping                      		= $(shared-hybrid-featurescorer-mapping-0)
priori-scale              			= $(shared-priori-scale-0) #-10.0 #1e-10 #1.0 #1e-06  - ! resulting score might be negative if priori scale is too high !
normalize-mixture-weights 			= false #true
scale                     			= 1.0 #scale it?
file                                = $(shared-mixture-file-0)

[*.acoustic-model.state-tying]
type                            = monophone

[*.acoustic-model.allophones]
add-from-lexicon                = true
add-all                         = false
store-to-file                   = data/it$(it).$(step).$(description)/allophones.stream-0.$(SGE_TASK_ID)

[*.model-combination-0.*]
traceback.channel       = traceback-channel-0
#dump-automaton.channel  = dump-automaton-channel-0

[*.alignment]
traceback.channel       = traceback-channel-0
*.increase-pruning-until-no-score-difference    = true
*.min-acoustic-pruning          = 1000000
*.acoustic-pruning-increment-factor             = 2

# ---------------------------------------------------------------------------
[*.acoustic-model-trainer]
action	                        = dry

# -----------------------------------------------------------------
[*.channels]
output-channel.file             = $(log-dir)/it$(it).$(step).$(description).$(SGE_TASK_ID).log
*.append                        = false
*.compressed                    = false
*.unbuffered                    = false
*.encoding                      = UTF-8

# -----------------------------------------------------------------
[*]
n-best-pruning                  = 100000
system-info.channel             = output-channel
configuration.channel           = output-channel
log.channel                     = output-channel
warning.channel                 = output-channel
error.channel                   = output-channel
progress.channel                = output-channel, traceback-channel-0 #, traceback-channel-1
statistics.channel              = output-channel
log-resolved-resources          = true
progress-indication             = global
#dump-automaton.channel  = dump-automaton-channel-0

[*.channels.traceback-channel-0]
file                            = data/it$(it).$(step).$(description)/it$(it).$(step).$(description).traceback-0.$(SGE_TASK_ID).xml
append                          = false
encoding                        = UTF-8
unbuffered                      = false
compressed                      = true

